.hex2rgb-result-box {
  padding: .1rem;
  height: 2rem;
  width: 15rem;
  margin: .3rem;
  text-align: center;
  font-size: large;
  font-family: monospace;
  color: whitesmoke;
  background-color: #00000088;
  border: .1rem solid gray;
  text-align: center;
  line-height: 2rem;
}